################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backups
/Logs/Commands
/Saves
/Scripts/bin/Debug
/Scripts/obj/Debug
/Scripts/Output
/Server/obj/Debug
/RunUO.pdb
/RunUO.exe.config
/RunUO.exe
